<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzq.xiaopotato.mapper.UsertagMapper">

    <resultMap id="BaseResultMap" type="com.fzq.xiaopotato.model.entity.Usertag">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,tag_id,create_time
    </sql>
</mapper>
